.avatar {
  background-color: var(--neutral-4);
  border-radius: var(--radius-xs);
  object-fit: cover;
}

.small {
  width: var(--spacing-3-5);
}

.normal {
  border-radius: var(--radius-sm);
  width: var(--spacing-6-5);
}

.large {
  border-radius: var(--radius-3xl);
  width: var(--sizing-4xl);
}
