.inputContainer {
  align-items: end;
  background-color: var(--neutral-2);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-sm);
  display: flex;
  margin: var(--spacing-2-5);
  padding: var(--spacing-2-5);
}

.textarea {
  background: transparent;
  border-color: transparent;
  color: var(--neutral-12);
  flex-grow: 1;
  font-family: inherit;
  font-size: var(--sizing-xs);
  max-height: calc(var(--sizing-5xl) * 2);
  min-height: var(--sizing-3xl);
  outline: none;
  overflow-y: auto;
  resize: none;
  scrollbar-color: var(--neutral-7) transparent;
  scrollbar-width: thin;
  transition: border-color 0.2s ease;
}

.textarea::-webkit-scrollbar {
  width: var(--spacing-2);
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--neutral-7);
  border-radius: 3px;
}

.textarea:focus {
  outline: none;
}

.textarea:disabled {
  color: var(--neutral-9);
  cursor: not-allowed;
}

.sendButton {
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-md);
  color: var(--neutral-12);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: var(--sizing-2xl);
  justify-content: center;
  padding: var(--spacing-2-5);
  transition: background-color 0.2s ease;
  width: var(--sizing-2xl);
}

.sendButton:hover:not(:disabled) {
  background-color: color-mix(in hsl, var(--color-primary) 90%, white);
}

.sendButton:disabled {
  background: var(--neutral-9);
  cursor: not-allowed;
  opacity: 0.7;
}

.sendButton:focus {
  outline: none;
}
