.chatboxWidget {
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  z-index: 10000;
}

.fixedPosition {
  bottom: var(--spacing-5);
  position: fixed;
  right: var(--spacing-5);
}

.toggleButton {
  align-items: center;
  background: var(--toggle-btn-color);
  border: none;
  border-radius: 50%;
  color: var(--neutral-12);
  cursor: pointer;
  display: flex;
  font-size: var(--sizing-sm);
  height: var(--sizing-5xl);
  justify-content: center;
  width: var(--sizing-5xl);
}
