.chatWindow {
  width: 350px;
  height: 500px;
  border-radius: 8px;
  border: 1px solid var(--neutral-6);
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  bottom: 80px;
  right: 0;
  overflow: hidden;
  animation: slideIn 0.3s ease forwards;
  transform-origin: bottom right;
  z-index: 10000;
}

.content {
  background: linear-gradient(
    180deg,
    var(--neutral-2) 0%,
    var(--neutral-1) 100%
  );
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 480px) {
  .chatWindow {
    width: calc(100vw - 40px);
    height: calc(100vh - 120px);
    max-height: 500px;
    bottom: 70px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.footer {
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
  color: var(--neutral-11);
  background: var(--neutral-3);
  border-top: 1px solid var(--neutral-6);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 14px;
  text-decoration: none;
}
