.emptyContainer {
  align-items: center;
  color: var(--neutral-10);
  display: flex;
  flex-direction: column;
  font-size: var(--sizing-sm);
  gap: var(--spacing-2-5);
  margin: var(--spacing-7-5) auto;
  max-width: 80%;
  text-align: center;
}

.iconContainer {
  align-items: center;
  background-color: var(--neutral-5);
  border-radius: var(--radius-3xl);
  color: var(--neutral-9);
  display: flex;
  height: var(--sizing-4xl);
  justify-content: center;
  margin-bottom: var(--spacing-2-5);
  width: var(--sizing-4xl);
}

.message {
  color: var(--neutral-12);
  font-style: italic;
  font-weight: var(--font-weight-medium);
  margin: 0;
}

.hint {
  color: var(--neutral-9);
  font-size: var(--sizing-xs);
  margin: 0;
}
