.avatar {
  align-items: center;
  background-color: var(--neutral-4);
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.small {
  height: var(--spacing-3-5);
  width: var(--spacing-3-5);
}

.normal {
  border-radius: var(--radius-sm);
  height: var(--spacing-6-5);
  width: var(--spacing-6-5);
}

.large {
  border-radius: var(--radius-3xl);
  height: var(--sizing-4xl);
  width: var(--sizing-4xl);
}
