.header {
  align-items: center;
  background: var(--neutral-1);
  color: var(--neutral-12);
  display: flex;
  font-size: var(--sizing-md);
  font-weight: var(--font-weight-semibold);
  justify-content: space-between;
  padding: var(--spacing-3-5);
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: base;
}

.title {
  color: var(--neutral-12);
  font-size: var(--sizing-xs);
  font-weight: var(--font-weight-medium);
}

.statusBadge {
  background-color: var(--color-success-bg);
  border-radius: var(--radius-lg);
  color: var(--color-success);
  display: inline-block;
  font-size: var(--sizing-2xs);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-0-5) var(--spacing-2-5);
  text-transform: capitalize;
}

.statusBadgeOffline {
  background-color: var(--neutral-3);
  border-radius: var(--radius-lg);
  color: var(--neutral-11);
  display: inline-block;
  font-size: var(--sizing-2xs);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-0-5) var(--spacing-2-5);
  text-transform: capitalize;
}

.closeButton {
  align-items: center;
  background-color: var(--neutral-3);
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: var(--spacing-1);
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background-color: var(--neutral-4);
}

.closeButton:focus {
  background-color: var(--neutral-4);
  outline: none;
}
