.loadingContainer {
  align-items: center;
  color: var(--neutral-10);
  display: flex;
  flex-direction: column;
  font-size: var(--sizing-sm);
  gap: var(--spacing-3);
  margin: var(--spacing-7-5) auto;
  max-width: 80%;
  text-align: center;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 3px solid var(--neutral-5);
  border-radius: var(--radius-3xl);
  border-top-color: var(--color-primary);
  height: var(--sizing-3xl);
  width: var(--sizing-3xl);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.message {
  color: var(--neutral-12);
  font-weight: var(--font-weight-medium);
  margin: 0;
}
