.toggleButton {
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  color: var(--neutral-12);
  cursor: pointer;
  display: flex;
  height: var(--toggle-btn-size);
  justify-content: center;
  position: relative;
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: var(--toggle-btn-size);
  z-index: 10001;
}

.toggleButton:hover {
  background-color: color-mix(in hsl, var(--color-primary) 90%, white);
  transform: scale(1.1);
}

.toggleButton:focus {
  outline: none;
}
