/* Based on MessageItem.module.css */
.messageItem {
  align-items: flex-start;
  display: flex;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-1);
  min-width: 0;
}

.header {
  align-items: center;
  display: flex;
  gap: var(--spacing-2-5);
}

.name {
  color: var(--neutral-12);
  font-size: var(--sizing-xs);
  font-weight: var(--font-weight-medium);
}

.typingContent {
  color: var(--neutral-11);
  display: inline-block;
  font-size: var(--sizing-xs);
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
