/* Based on MessageItem.module.css */
.messageItem {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.contentContainer {
  min-width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: 500;
  font-size: 11px;
  color: var(--neutral-12);
}

.typingContent {
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 11px;
  color: var(--neutral-11); /* Light grey color */
  word-wrap: break-word;
  display: inline-block;
}
